footer{
  text-align: center;
}
#page-project-stat .todo-stats .summary li {
	display:block;
	width:180px;
	float:left;
	border-right:1px solid #dfdfdf
}


.page#page-team-show .project .folder .edit {
	display:none;
	position:absolute;
	bottom:8px;
	left:7px;
	width:15px;
	height:15px;
	background-image:url(../images/edit.png);
	background-repeat:no-repeat;
	background-size:15px auto;
	background-position:left top
}

.page .page-inner .topic .project-info p img{
	max-width:690px
}