<!DOCTYPE html>
<html lang="zh-cn">
{{import "module/head"}}
<body>
<div class="wrapper">
    <!--头部  header.html  -->
    {{import "module/header"}}
    <!--主体部分-->
    <div class="container workspace">
        <ng-view></ng-view>
    </div>
    <!--主体部分  end   -->
    {{import "module/footer"}}
</div>
</body>
{{import "module/foot"}}
</html>
