<div class="filters-wrap" style="float:right">
    <div class="filters">
        <h5>任务筛选</h5>
        <select id="filter-assignee">
            <option value="">所有分类</option>
            <option value="bug">bug</option>
            <option value="需求">需求</option>
            <option value="支持">支持</option>
            <option value="功能">功能</option>
        </select><br>
        <select id="filter-due">
            <option value="-1">所有时间</option>
            <option disabled="">-----</option>
            <option value="0">今天</option>
            <option value="1">明天</option>
            <option value="2">本周</option>
            <option value="3">下周</option>
            <option value="5">以后</option>
            <option disabled="">-----</option>
            <option value="4">已延误</option>
            <option value="6">没有截止时间</option>
        </select>
        <br>
    </div>
</div>