<div class="filters-wrap" style="float:right">
    <div class="filters">
        <h5>任务筛选</h5>
        <select ng-model="filter_tag">
            <option value="">所有分类</option>
            <option value="bug">bug</option>
            <option value="需求">需求</option>
            <!--
            <option value="支持">支持</option>
            <option value="功能">功能</option>
            -->
        </select>
        <br>
        <select ng-model="filter_status">
            <option value="">所有状态</option>
            <option value="new">new</option>
            <option value="doing">doing</option>
            <option value="pause">pause</option>
            <option value="trush">trush</option>
            <option value="done">done</option>
        </select>
        <br>
        <!--<select ng-model="filter_owner">
            <option value="">所有人</option>
            <option ng-repeat="member in memberList" value="{{member.id}}">{{member.realname}}</option>
        </select>-->
    </div>
</div>