<ul class="todos todos-uncompleted ui-sortable">
    <li ng-repeat="item in data.items" class="todo">
        <todosaction ng-hide='item.editstatus'></todosaction>
        <div class="todo-wrap" ng-hide='item.editstatus'>
            <finishtodo></finishtodo>
            <span title="状态" class="label issue-status-{{item.status}}" ng-show="item.status != 'new'">{{item.status}}</span>
            <span title="issueID" class="label">#{{item.id}}</span>
            <span class="todo-content">
                <span class="raw"></span>
                <span>todo内容{{todo}}</span>
                <a href="#/project/{{item.project_id}}/issue/{{item.id}}">{{item.title}}</a>
             </span>
            <assigneeshow></assigneeshow>
            <span class="label-success" ng-show='item.finish_time'>{{item.finish_time | date:'yyyy-MM-dd'}}</span>
        </div>
        <issue-quickeditor></issue-quickeditor>

    </li>
    <li ng-show="data.items.length == 0" class="todo">
        <div class="todo-wrap"> <span class="label">沒有内容</span></div>
    </li>
    <li>
        <addtodo></addtodo>
    </li>
</ul>