<ul class="todos todos-uncompleted ui-sortable">
    <li ng-repeat="item in data.items" class="todo">
        <todosaction></todosaction>
        <div class="todo-wrap">
            <finishtodo></finishtodo>
            <span class="label">{{item.status}}</span>
            <span class="label">#{{item.id}}</span>
        <span class="todo-content">
            <span class="raw"></span>
            <span>todo内容{{todo}}</span>
            <a href="#/project/{{item.project_id}}/issue/{{item.id}}">{{item.title}}</a>
         </span>
            <assigneeshow></assigneeshow>
        </div>
    </li>
    <li>
        <addtodo></addtodo>
    </li>
</ul>