<ul class="todos todos-uncompleted ui-sortable">
    <li ng-repeat="item in data.items" class="todo">
        <todosaction></todosaction>
        <div class="todo-wrap">
            <finishtodo></finishtodo>
            <span class="label">{{item.status}}</span>
        <span class="todo-content">
            <span class="raw"></span>
            <span>todo内容{{todo}}</span>
            <a href="#/project/{{item.project_id}}/issue/{{item.id}}">#{{item.id}}{{item.title}}</a>
         </span>
            <a class="label todo-assign-due">
                (<span class="assignee">{{item.owner}}</span>)
            </a>
        </div>
    </li>
    <li>
        <addtodo></addtodo>
    </li>
</ul>