<div class="section-docs">
    <h3>
        <a href="" class="title" data-stack="true">项目资源</a>
        <!--<a href="#/docsingle/1"  class="btn btn-mini btn-new-doc">创建文档</a>-->
        <a href="javascript:;" ng-click="showfileupdate(true)" class="btn btn-mini btn-upload-file" data-url="" style="position: relative; overflow: hidden; direction: ltr;">上传新文件
        </a>
    </h3>
    <div ng-show="updatePanelShow" class="update-panel">
        <input ng-file-select type="file" name="asset" multiple style="display:inline-block"/>
        <button ng-click="showfileupdate(false)" class="btn btn-success"  style="display:inline-block;padding: 2px 16px;">取消</button>
        <div class="col-sm-12">
            <p>上传队列长度: {{ uploader.queue.length }}</p>
            <table class="table" ng-show="uploader.queue.length>0">
                <thead>
                <tr>
                    <th width="50%">文件名</th>
                    <th ng-show="uploader.isHTML5">文件大小</th>
                    <th ng-show="uploader.isHTML5">上传进度</th>
                    <th>上传结果</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span>上传
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span>取消
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span>移除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show="uploader.queue.length>0">
                <p>
                    总体上传进度:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
                </p>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> 上传所有
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> 取消所有
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span>移除所有
                </button>
            </div>
        </div>
    </div>
    <filelist></filelist>
</div>