<div class="page sheet sheet-active sheet-root" id="page-project">
    <div class="page-inner">
        <!--栏目标题-->
        <proheader></proheader>
        <!--栏目标题   end-->
        <!--栏目标题右侧功能条-->
        <div class="project-links">
            <!--<a href="" class="link-admin link-admin-members" title="成员管理" data-visible-to="admin" data-stack=""
               data-nocache="" style="display: block;">成员</a>
            <a href="" class="link-admin link-admin-settings" title="项目设置" data-visible-to="admin" data-stack=""
               data-nocache="" style="display: block;">设置</a>-->
            <a href="" class="link-admin link-recap" data-nocache="true" data-stack="true" title="查看项目的每日进展">进展</a>
            <a href="" class="link-admin link-stat" title="项目数据统计" data-stack="" data-nocache="">统计</a>
        </div>
        <commitbox ng-model="xx"></commitbox>
        <pagination></pagination>
    </div>
    <!--回收站-->
    <div class="trash">
        <a href="/trash/" data-stack="true" title="回收站">
            <img src="/images/trash-icon-f34ecb950d82366fb3dfe6be05212f37.png">
        </a>
    </div>
    <!--回收站   END-->
</div>
