<div class="page sheet sheet-active sheet-root" id="page-project">
    <div class="page-inner">
        <!--栏目标题-->
        <proheader></proheader>
        <div class="topic" style="border-bottom: 1px solid #ddd;padding: 0 0 30px 0;margin: 20px 0 30px;width: 700px;">
        <div class="project-info" style="font-size: 12px;color: #aaa;margin: 0 0 20px 0;">
            <div class="info" style="float: right;">
                <a class="author" href="#">{{single_issue.realname}}</a>
                <a class="create-time">{{single_issue.timestamp |date: 'yyyy-MM-dd hh:mm'}}</a>
                <issue-settag></issue-settag>
            </div>
            <h3 title="{{single_issue.title}}">{{single_issue.title}}</h3>
            <div class="comment-content editor-style">
                <p ng-bind-html="tohtml(single_issue.content)"></p>
            </div>
        </div>
        </div>
        <div class="comments streams">
            <div class="comment" ng-repeat="item in commits track by $index">
                <a class="avatar-wrap" href="/members/d2a7ff82d9f54eb696b6ad2a01402be5/" data-stack="" data-stack-root="">
                    <img class="avatar"  ng-src="/images/member/{{item.creator}}.png" width="50" height="50">
                </a>
                <div class="comment-actions actions">
                    <!--<a href="" class="edit" style="display:inline;">编辑</a>
                    <a href="" class="del"style="display: inline;">删除</a>-->
                </div>
                <div class="comment-main">
                    <div class="info">
                        <a class="author" href="#">{{item.realname||"未知"}}</a>
                        <a class="create-time">{{item.timestamp |date: 'yyyy-MM-dd hh:mm'}}</a>
                    </div>
                    <div class="comment-content editor-style">
                        <p ng-bind-html="tohtml(item.content)"><br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment comment-form new">
            <form class="form form-editor form-new-comment" method="post"action="">
                <a class="avatar-wrap" href="">
                    <img class="avatar" width="50" height="50" ng-src="/images/member/{{user.member_id}}.png">
                </a>
                <div class="comment-main">
                    <div class="form-item">
                        <div class="form-field">
                            <simditor></simditor>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button tabindex="1" type="button" ng-click="submitcomment()" class="btn btn-primary btn-create-comment"
                                data-disable-with="正在发送...">发表评论
                        </button>
                        <button tabindex="2" type="button" class="btn btn-x btn-cancel-create-comment">取消</button>
                    </div>
                </div>
            </form>
        </div>
        <commitbox></commitbox>
    </div>
</div>