<div class="page sheet sheet-active sheet-root" id="page-project">
    <div class="page-inner">
        <!--栏目标题-->
        <proheader></proheader>
        <div class="topic">
            <div class="todolist">
                <ul class="todos">
                    <li class="todo completed">
                        <div class="todo-wrap">
		                <span class="todo-content">
                            <span class="raw">10.1.201.77 环境配置</span>
                            <span>10.1.201.77 环境配置</span>
		                </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="comments streams">
            <div class="comment" ng-repeat="item in data.items track by $index">
                <a class="avatar-wrap" href="/members/d2a7ff82d9f54eb696b6ad2a01402be5/" data-stack="" data-stack-root="">
                    <img class="avatar" src="/images/path.jpg" width="50" height="50">
                </a>
                <div class="comment-actions actions">
                    <a href="/comments/901063c946e84c51913ec2dd39caadfd/edit" class="edit" data-remote="true"
                       data-loading="true" data-method="get"   style="display:inline;">编辑</a>
                    <a href="/comments/901063c946e84c51913ec2dd39caadfd/destroy" class="del"style="display: inline;">删除</a>
                </div>
                <div class="comment-main">
                    <div class="info">
                        <a class="author" href="#">易晓峰</a>
                        <a class="create-time">{{item.timestamp |date: 'yyyy-MM-dd hh:mm'}}</a>
                    </div>
                    <div class="comment-content editor-style">
                        <p>{{item.content}}<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment comment-form new">
            <form class="form form-editor form-new-comment" method="post" data-remote="true"
                  action="/projects/02efed7428204733b4cef508f6220b6b/todos/eff86d8fd0c745d491a9b4715e33b125/comments">
                <a class="avatar-wrap" href="/members/64f02623b0d44c789294cee0f0cbdb8d">
                    <img class="avatar" width="50" height="50"src="https://avatar.tower.im/123fc3f828944a8a9a32fcc055c536fe">
                </a>
                <div class="comment-main">
                    <div class="form-item">
                        <div class="form-field">
                            <simditor></simditor>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button tabindex="1" type="submit" class="btn btn-primary btn-create-comment"
                                data-disable-with="正在发送...">发表评论
                        </button>
                        <button tabindex="2" type="button" class="btn btn-x btn-cancel-create-comment">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>