<div class="page sheet sheet-active sheet-root" id="page-project">
    <div class="page-inner">
        <!--栏目标题-->
        <proheader></proheader>
        <div class="doc-wrap">
            <form class="form form-edit-doc" action="/projects/02efed7428204733b4cef508f6220b6b/docs" data-autosave-url="/projects/02efed7428204733b4cef508f6220b6b/docs/drafts" method="post" data-remote="true">
                <div class="form-item doc-title-wrap">
                    <div class="form-field">
                        <textarea name="doc_title" class="doc-title" placeholder="文档标题" style="overflow: hidden; word-wrap: break-word; resize: none; height: 30px;"></textarea>
                    </div>
                </div>
                <div class="form-item wmd-panel-wrap">
                    <div class="form-field">
                        <div class="doc-editor">
                            <simditor></simditor>
                        </div>
                    </div>
                </div>
                <div class="form-item save-btns-wrap">
                    <div class="form-field">
                        <a href="/projects/02efed7428204733b4cef508f6220b6b/docs/draft/destroy" class="btn btn-cancel-draft" data-disable-with="取消中..." data-method="delete" data-remote="true" rel="nofollow">取消</a>
                        <button type="submit" class="btn btn-primary btn-create-doc" data-disable-with="保存中...">发布</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>