<div class="page sheet sheet-active sheet-root" id="page-project">
    <div class="page-inner">
        <!--栏目标题-->
        <proheader></proheader>
        <ul class="file-list">
            <div class="file">
                <div class="file-thumb">
                    <a href="" target="_blank" data-origin-size="64,88"> <img alt="金鹰网改版测试缺陷跟踪矩阵0430 - 5月4日回复 3.xls" src="/images/file_extension/file_extension_xls.png" title="金鹰网改版测试缺陷跟踪矩阵0430 - 5月4日回复 3.xls">
                    </a>
                </div>
                <div class="file-info">
                    <div class="title">
                        <a class="name" href="" data-stack="" title="">金鹰网改版测试缺陷跟踪矩阵0430 - 5月4日回复 3.xls</a>
                    <span class="name">
                        <a href="" title="" class="link-download">金鹰网改版测试缺陷跟踪矩阵0430 - 5月4日回复 3.xls</a>
                    </span>
                        <span class="size">3.25M</span>
                        <a href="#" class="link-label no-label">标记文件</a>
                        <div class="links">
                            <a href="" class="link-download">下载</a>
                            <span>或</span>
                            <a href="/" class="link-delete" data-remote="true" data-method="post" data-confirm="确定要删除这个文件吗？">删除</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="file">
                <div class="file-thumb"> <a href="" target="_blank" data-origin-size="64,88"> <img alt="评论4月30日.docx" src="/images/file_extension/file_extension_docx.png" title="评论4月30日.docx"> </a> </div>
                <div class="file-info">
                    <div class="title"> <a class="name" href="" data-stack="" title="评论4月30日.docx">评论4月30日.docx</a> <span class="name"> <a href="" title="评论4月30日.docx" class="link-download">评论4月30日.docx</a> </span> <span class="size">222K</span> <a href="#" class="link-label no-label" data-request-labels="947c175f21734cb5859c6f5d0b976599" data-url="/attachments/0f32ae52acc642a8983a91cf4fb4e33d/move">标记文件</a>
                        <div class="links"> <a href="" class="link-download">下载</a> <span>或</span> <a href="" class="link-delete" data-remote="true" data-method="post" data-confirm="确定要删除这个文件吗？">删除</a> </div>
                    </div>
                </div>
            </div>
        </ul>
        <a href="javascript:;" id="btn-load-more" class="over">没有更多内容了</a>
    </div>
</div>