<blockquote>&nbsp;</blockquote>
<div class="page" id="page-team-show" data-page-name="所有项目">
    <h2> Hi {{user.realname}}，这些是你的项目 </h2>
    <div class="projects ui-sortable">
        <div class="project" ng-repeat="pro in prolist">
            <a title="{{pro.title}}" href="#/project/{{pro.id}}" class="folder c2 i1">
                <span class="badge"></span>
                <i class="badge-edit del" title="删除项目" data-pid="{{pro.id}}" ng-click="delproject($event)"></i>
            </a>
            <h6 class="name">
                <a title="{{pro.name}}" data-stack="" data-stack-root="" data-restore-position="" href="＃">{{pro.title}}</a>
            </h6>
            <p class="desc" title="{{pro.description}}">{{pro.description}}</p>
        </div>
        <div class="project new"> <a title="创建新项目" class="folder" href="#/addpro" data-stack="" data-nocache="" data-stack-root=""> <span class="badge"></span> </a> </div>
    </div>
</div>