<div class="page sheet sheet-active sheet-root" id="page-project">
    <div class="page-inner">
        <!--栏目标题-->
        <proheader></proheader>
        <issuefilter></issuefilter>
        <div class="todolists ui-sortable">
            <h3>
                <a class="title">任务列表</a>
            </h3>
            <!--任务列表 集合-->
            <div class="todolist">
                <todos></todos>
                <ul class="pagination pagination-lg" ng-show="pager.recordCount && pager.pageCount > 1">
                    <li ng-click='gotoPage(1)'><a href=""><<</a></li>
                    <li ng-repeat="i in getNumber(pager.pageCount) track by $index" ng-click="gotoPage($index+1)" ng-class="{active:equals($index+1, pager.pageIndex)}"><a href="">{{$index+1}}</a></li>
                    <li ng-click='gotoPage(pager.pageCount)'><a href="">>></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<assigneebox></assigneebox>