<div class="page sheet sheet-active sheet-root" id="page-project">
    <div class="page-inner">
        <!--栏目标题-->
        <proheader></proheader>
        <issuefilter></issuefilter>
        <div class="todolists ui-sortable">
            <h3>
                <a class="title">任务列表</a>
            </h3>
            <!--任务列表 集合-->
            <div class="todolist">
                <todos></todos>
                <pagination></pagination>
            </div>
        </div>
    </div>
</div>
<assigneebox></assigneebox>