<!--主体内容-->
<div class="page sheet sheet-active sheet-root" id="page-project">
    <div class="page-inner">
        <!--栏目标题-->
        <proheader></proheader>
        <!--栏目标题   end-->
        <!--讨论-->
        <discussionbox></discussionbox>
        <!--任务-->
        <todoslist></todoslist>
        <commitbox></commitbox>
        <!--文档-->
        <resourcebox></resourcebox>
        <!--文件-->
    </div>
    <!--回收站-->
    <div class="trash">
        <a href="/trash/" data-stack="true" title="回收站">
            <img src="/images/trash-icon-f34ecb950d82366fb3dfe6be05212f37.png">
        </a>
    </div>
    <!--回收站   END-->
</div>
<assigneebox></assigneebox>
