<div class="page sheet sheet-active sheet-root" id="page-project">
    <div class="page-inner">
        <!--栏目标题-->
        <proheader></proheader>
    </div>
    <div id="page-project-stat"  style="border-top-width: 0px;" class="page sheet sheet-active sheet-1">
        <div class="page-inner">
            <div class="title">
                <h3>项目统计</h3>

                <p class="date">截止 {{today}}</p>
            </div>

            <div class="todo-stats">
                <ul class="summary">
                    <li class="commit">
                        <span class="name">commit</span>
                        <span class="count">{{stat.overview.commit}}</span>
                    </li>
                    <li class="total">
                        <span class="name">总任务数</span>
                        <span class="count">{{stat.overview.total}}</span>
                    </li>
                    <li class="delay">
                        <span class="name">延误任务</span>
                        <span class="count">{{stat.overview.delay}}</span>
                    </li>
                    <li class="ratio last">
                        <span class="name">延误率%</span>
                        <span class="count">{{stat.overview.delay / stat.overview.total|number:2}}</span>
                    </li>
                </ul>

                <div class="member-stats">
                    <table class="stats-table">
                        <thead>
                        <tr>
                            <th class="member">成员</th>
                            <th>commit</th>
                            <th>任务数</th>
                            <th>已完成</th>
                            <th style="color: red;">延误</th>
                            <th style="color: red;" title = "{{contributeTotal}}">贡献(%)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in stat.members | orderBy:'stat.contribute':true" ng-show='item.stat.contribute'>
                            <td class="member">
                                <img class="avatar" alt="{{item.profile.realname}}"
                                     src="/images/member/{{item.profile.id}}.png">
                                <span class="name">{{item.profile.realname}}</span>
                            </td>
                             <td>
                                {{item.stat.commit}}
                            </td>
                            <td>
                                {{item.stat.total}}
                            </td>
                            <td>
                                {{item.stat.done}}
                            </td>
                            <td style="color: red;">
                                {{item.stat.delay}}
                            </td>
                            <td style="color: red;" title="贡献值:{{item.stat.contribute}}   贡献度:{{item.stat.contributePercent}}%">
                                <div class="contribute-star">
                                    <div class="contirbute-current-star" style="width:{{item.stat.rating}}%">
                                </div>
                               
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
