<!--头部文件-->
<div class="header">
    <!--logo-->
    <h1 class="logo"><a href="" title="首页" data-stack="" data-stack-bare="" data-stack-root="">Tower</a></h1>
    <!--logo  end   -->
    <ul class="nav">
        <li id="nav-project" class=""><a href="/#" data-stack="" data-stack-bare="" data-stack-root="">项目</a></li>
        <!--<li id="nav-events" class=""><a href="" data-stack="" data-stack-bare="" data-stack-root="" data-restore-position="">回顾</a></li>-->
        <li id="nav-week" class=""><a href="" data-stack="" data-stack-root="">周报</a></li>
        <!--<li id="nav-calendar" class=""><a href="" data-stack="" data-stack-bare="" data-stack-root="">日历</a></li>
        <li id="nav-members"><a href="" data-stack="" data-stack-bare="" data-stack-root="">团队</a></li>
        <li id="nav-me" class=""><a href="" data-stack="" data-stack-root="">我自己</a></li>-->
        <!--通知-->
        <!--<li id="nav-notifications"> <a class="link" href="" data-stack="" data-stack-root="">通知</a> <a href="javascript:;" id="notification-count" class="label " title="新的通知" data-url="">0</a>
            <div class="noti-pop">
                <div class="noti-pop-hd"> <span class="title">通知</span> <a class="noti-settings" href="" title="设置通知发送方式" data-stack="" data-stack-root="">通知设置</a> <a id="noti-mark-read" class="mark-as-read" href="javascript:;" title="全部标记为已读">全部标为已读</a> </div>
                <div class="noti-pop-list notification-list"> </div>
                <div class="noti-pop-empty">- 没有新通知 -</div>
                <div class="noti-pop-action"> <a class="noti-all-link" href="" data-stack="" data-stack-root="">查看全部</a> </div>
            </div>
        </li>-->
        <!--通知  end   -->
    </ul>
    <!--
    右侧个人中心头图
    <ul class="account-info">
        <li class="member-settings">
            <a class="link-member-menu" href="javascript:;" title="501246946">
                <img class="avatar" src="../images/path.jpg" alt="501246946">
                <i class="fa fa-caret-down"></i>
            </a>
        </li>
    </ul>
    右侧个人中心头图  end
    搜索
    <div class="search-wrap">
        <form id="form-search" class="form" method="get" action="/search">
            <input id="txt-search" type="text" class="keyword" name="keyword">
            <a href="javascript:;" class="link-search">搜索</a>
        </form>
    </div>
    搜索  end
    -->
</div>
<!--header  end   -->
