<!--头部文件-->
<div class="header">
    <!--logo-->
    <h1 class="logo"><a href="" title="首页" data-stack="" data-stack-bare="" data-stack-root="">Tower</a></h1>
    <!--logo  end   -->
    <ul class="nav">
        <li id="nav-project" class=""><a href="/#/project">项目</a></li>
        <li id="nav-week" class=""><a href="/#/report/weekly">周报</a></li>
        <li id="nav-members"><a href="/#/member">团队</a></li>
        <li id="nav-me" class=""><a href="/#/mine">我自己</a></li>
    </ul>

    <ul class="account-info">
        <li class="member-settings">
            <a class="link-member-menu" >
                <img class="avatar" src="../images/member/path.png">
                <i class="fa fa-caret-down"></i>
            </a>
        </li>
    </ul>
</div>
<!--header  end   -->
