<div class="messages">
    <div class="message" ng-repeat="items in msglist">
        <a href="/members/d2a7ff82d9f54eb696b6ad2a01402be5" data-stack="" data-stack-root="">
            <img class="avatar" src="/assets/default_avatars/path.jpg">
        </a>
        <div class="name">
            <a data-stack="" data-stack-root="" href="">{{items.name}}用户名</a>
        </div>
        <a data-stack="" href="" class="message-link">
            <span class="message-title"> 讨论标题 </span>
            <span class="message-content"> 讨论内容 </span>
        </a>
        <span class="time" title="2014-05-07"data-abstime="2014-05-07 14:36:56 +0800"data-pretty-format="short">发布时间</span>
        <a data-stack="" href="" class="comments-count"> 1 </a>
    </div>
    <div class="more">
        <a href="" class="link-more-topics" data-stack="">全部6条讨论</a>
    </div>
</div>
