<div class="messages">
    <div class="message" ng-repeat="item in data.items">
        <a href="/members/d2a7ff82d9f54eb696b6ad2a01402be5" data-stack="" data-stack-root="">
            <!--<img class="avatar" src="/assets/default_avatars/path.jpg">-->
        </a>
        <div class="name">
            <a data-stack="" data-stack-root="" href="/#/member/{{item.creator}}">{{item.realname}}</a>
        </div>
        <a href="/#/issue/{{item.issue_id}}/comment/{{item.id}}" class="message-link">
            <span class="message-title">{{item.title}}</span>
            <span class="message-content">{{item.content}}</span>
        </a>
        <span class="time">{{item.timestamp | date: 'yyyy-MM-dd hh:mm'}}</span>
        <a data-stack="" href="" class="comments-count"> 1 </a>
    </div>
    <div class="more">
        <a href="" class="link-more-topics" data-stack="">全部{{data.pagination.record_count}}条讨论</a>
    </div>
</div>
