<div class="doc-list minicards">
    <div class="minicard doc">
        <a href="" data-stack="" class="card-link document">
            <header class="title">
                title
            </header>
            <div class="desc editor-style markdown">
                内容简介
            </div>
            <footer class="card-project-info">
                <div class="truncated"></div>
			<span class="saver" title="">
				创建者
			</span>
                <span class="date">日期</span>
            </footer>
        </a>
    </div>
</div>
<div class="more">
    <a href="#/docall/1" class="link-more-docs" data-stack="true">全部1篇文档</a>
</div>