<div class="section-docs">
    <h3>
        <a href="" class="title" data-stack="true">文档</a>
        <div class="btn-group">
            <a href="" class="btn btn-mini btn-new-doc" data-stack="true">创建新文档</a>
            <button class="btn btn-mini btn-dropdown-toggle">
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="btn-dropdown-menu">
                <li>
                    <a href="" class="btn-create-normal-doc" data-stack="">普通文档</a>
                </li>
                <li>
                    <a href="" class="btn-create-md-doc" data-stack="">Markdown文档</a>
                </li>
            </ul>
        </div>
    </h3>

    <div class="doc-list minicards">

        <div class="minicard doc" data-guid="908639244a3b49a7a5a137b4411352e7">
            <a href="" data-stack="" class="card-link document" title="客户端的日期格式统一转换为Number">
                <header class="title">
                    客户端的日期格式统一转换为Number
                </header>
                <div class="desc editor-style markdown">
                    字符串的格式会造成很多意想不到的错误，比如格式可能不统一，转换时可能没有注意，所以统一使用Number(new Date())转换一下。
                </div>
                <footer class="card-project-info">
                    <div class="truncated"></div>
			<span class="saver" title="易晓峰 在 03月25日 保存">
				易晓峰，
			</span>
                    <span class="date" data-abstime="2014-03-25 15:36:13 +0800" data-pretty-format="short">3月25日</span>
                </footer>
            </a>
        </div>

    </div>
    <div class="more">
        <a href="" class="link-more-docs" data-stack="true">全部1篇文档</a>
    </div>
</div>