<div class="section-docs">
    <h3>
        <a href="" class="title" data-stack="true">项目资源</a>
        <a href="#/docsingle/1"  class="btn btn-mini btn-new-doc">创建文档</a>
        <a href="javascript:;" class="btn btn-mini btn-upload-file" data-url="" style="position: relative; overflow: hidden; direction: ltr;">上传新文件
            <input type="file" title="上传新文件" name="upload-file" tabindex="-1" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
        </a>
    </h3>
    <doclist></doclist>
    <filelist></filelist>
</div>