<div class="todolists ui-sortable">
    <!--任务列表 集合-->
    <div ng-repeat="td in todolists" class="todolist">
        <div class="title">
             <todosaction></todosaction>
            <h4><a href="" class="name" data-stack="true">任务列表名称-----{{td.name}}</a>
                <a href="javascript:;"class="fold">
                    <i class="fa fa-angle-up"></i>
                </a>
            </h4>
        </div>
        <div data-status="{{td.name}}">
            <uncompletedtodos></uncompletedtodos>
        </div>
        <add_todo></add_todo>
    </div>
</div>