<ul class="todos todos-uncompleted ui-sortable">
    <li ng-repeat="item in data.items" class="todo">
        <todosaction></todosaction>
        <div class="todo-wrap">
            <input type="checkbox" name="todo-done" data-id="{{item.id}}" ng-click="finishedIssue($event)">
            <span class="todo-content">
                <span class="raw"></span>
                <span>todo内容{{todo}}</span>
                <a href="#/project/{{item.project_id}}/issue/{{item.id}}">{{item.title}}</a>
             </span>
            <a class="label todo-assign-due">
                (<span class="assignee">{{item.owner}}</span>)
            </a>
        </div>
    </li>
    <li>
        <!--newtodo-->
        <addtodo></addtodo>
    </li>
</ul>