<ul class="todos todos-uncompleted ui-sortable">
    <li ng-repeat="item in data.items" class="todo">
        <todoaction></todoaction>
        <div class="todo-wrap">
            <input type="checkbox" name="todo-done">
            <span class="todo-content">
                <span class="raw"></span>
                <span>todo内容{{todo}}</span>
                <a href="#/issue/{{item.id}}">{{item.title}}</a>
             </span>
            <a class="label todo-assign-due">
                <span class="assignee">{{item.owner}}</span>
            </a>
            <a class="label todo-proj">BHF - BHF-API...</a>
        </div>
    </li>
</ul>